<div class="container">
  <div class = "text-center mt-5">
    <div class="bgc-lightgray ptb80 md-ptb65 sm-ptb50 sm-plr10">
      <div class="ff-en fz180 sm-fz150">
        <p class="ff-en fz180 sm-fz150 mt-3">About</p>
        <h2 class="fz110">Profile</h2>
      </div>
      <%= image_tag('about.jpg',class: "rounded-circle mt-4", width: '20%', height: '20%') %>
      <p class="mt-3 ff-en fz170 sm-fz150">Iwamoto Yasunao</p>
      <h3 class="mt-3 pl25 sm-pl20 fz130 sm-fz120">岩本泰直</h3>
      <p class="mt-3 ff-en">大学４年生/カメラマン/プログラマー</p>
      <p class="mt-3">2000年11月6日生まれ(<%= @age %>)神戸市出身</p>
      <p class="mt-5 pb-3"><%= link_to "https://www.osakac.ac.jp/",target: :_blank do %>
        University
        <i class="fas fa-external-link-alt"></i>
      <% end %>
      <br>大阪の大学に通っている4年生です！</p>
      <p class="mt-1 pb-3">Camera<br>かっこいい、写真や動画を撮るのが得意です！！</p>
      <p class="mt-1 pb-3">Programming<br>Rubyを使ったWebページ制作（主にバックエンド）をしています！</p>
    </div>
  </div>
  <div class = "text-center mt-5">
    <div class="bgc-lightgray ptb80 md-ptb65 sm-ptb50 sm-plr10">
      <div class= "cv-area">
      </div>
    </div>
  </div>
  <footer class="mt50 md-mt30 sm-mt15 plr50 md-plr30 sm-plr15 view view-slideup on">
  </footer>
</div>