<div class="position-sticky pt-md-5">
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to root_path , class:"nav-link active" do %> 
        <span class="ml-2">Home</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to blogs_path, class:"nav-link fa-solid fa-pencil" do %>
        <span class="ml-2">Blog</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to camera_portfolio_path, class:"nav-link" do %>
        <span class="ml-2">Camera</span>
      <% end %>
    <li class="nav-item">
      <%= link_to programming_portfolio_path, class:"nav-link" do%>
        <span class="ml-2">Programming</span>
      <% end %>
    </li>
  </ul>
</div>